<%= form_with model: person do |form| %>

  <h2>Personal Details</h2>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
    <% person.errors.full_messages_for(:first_name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
    <% person.errors.full_messages_for(:last_name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :gender %>
    <%= form.text_field :gender %>
    <% person.errors.full_messages_for(:gender).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
    <% person.errors.full_messages_for(:phone_number).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :date_of_birth %>
    <%= form.text_field :date_of_birth %>
    <% person.errors.full_messages_for(:date_of_birth).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :date_of_death %>
    <%= form.text_field :date_of_death %>
    <% person.errors.full_messages_for(:date_of_death).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.label :maiden_name %>
    <%= form.text_field :maiden_name %>
    <% person.errors.full_messages_for(:maiden_name).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>

  <h2>Parents</h2>
  <div>
    <%= form.label :mother_id %>
    <%= form.collection_select :mother_id, Person.all, :id, :full_name, include_blank: 'None' %>
    <% person.errors.full_messages_for(:mother_id).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  </div>
  <div>
    <%= form.label :father_id %>
    <%= form.collection_select :father_id, Person.all, :id, :full_name, include_blank: 'None' %>
    <% person.errors.full_messages_for(:father_id).each do |message| %>
      <div>
        <%= message %>
      </div>
    <% end %>
  <div>
    
  <div style="margin-top: 1rem;">
    <%= form.submit %>
  </div>
<% end %>
