<p>
  
  <%= relationship.is.full_name %>
  is
  <%= relationship.relationship_type %>
  of
  <%= relationship.of.full_name %>
</p>

<p>
  <strong>Notes: </strong>
  <%= relationship.notes %>
</p>

<li><%= link_to "Destroy", person_relationship_path(relationship.is, relationship), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
} %></li>